body {
    background-image: url("https://i.pinimg.com/564x/c7/b2/ac/c7b2aca61a1523d54a77fcffd5dbda1a.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    min-height: 100vh;  
    backdrop-filter: blur(25px) grayscale(55%);
}