.containerDev {
    padding: 20px;
    text-align: center;
    color: rgb(103, 238, 70);
    margin-top: 20px;

    margin-bottom: 10%;
}

.containerDev h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #4caf50;
}

.containerDev h2 {
    color:  #fff;
    margin-bottom: 10px;
    font-size: 1rem;
}

.containerDev p {
    color:  #357c38;
}

.listaDesenvolvedores {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.desenvolvedor {
    padding: 20px;
    border-radius: 8px;
    width: 250px; 
    background-color: #333;
    box-shadow: 0 5px 10px rgb(103, 238, 70);  
    transition: color 0.3s ease;
}

.desenvolvedor h2:hover {
    color: rgb(103, 238, 70);
}

.foto {
    width: 100%;
    height: auto;
    border-radius: 50%; 
    margin-bottom: 10px;
}