.footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #f1f1f1;
    padding: 20px;
    font-family: Arial, sans-serif;
}
  
.footer-info,
.footer-policies,
.footer-socials {
    max-width: 200px;
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #f9f9f9;
}
  
.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
}
  
.footer a:hover {
    color: #fff;
}
 
.footer p {
   margin: 5px 0;
   font-size: 14px;
}