.Cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-color: #e0f2f1;
}

.formContainer {
    background-color: #1f2a1f;
    padding: 3rem;
    border-radius: 6rem;
    box-shadow: 0 0px px rgba(0, 0, 0, 0.3);
    width: 400px;
    color: white;
}

.formContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.inputGroup {
    margin-bottom: 1rem;
    
}

.inputGroup label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"],
.inputGroup input[type="tel"],
.inputGroup input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 2px solid #4caf50;
    border-radius: 6px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

input:focus {
    border-color: #81c784;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}


.alertOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}


.alertBox {
    background-color: rgb(36, 142, 34);
    padding: 20px;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
}

.alertBox p {
    margin: 0 0 15px;
    color: rgb(14, 13, 13);
    font-size: 2rem;
}

.alertBox button {
    padding: 8px 12px;
    border: none;
    background-color: #1dc320;
    color: black;
    cursor: pointer;
    border-radius: 4px;
}

.alertBox button:hover {
    background-color: #489e0f;
    color: #0c0c0c;
}
